<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
    </configSections>
    <connectionStrings>
        <add name="Server.Properties.Settings.AccountsDataBaseConnectionString"
            connectionString="Data Source=(LocalDB)\MSSQLLocalDB;AttachDbFilename=|DataDirectory|\Service\Storage\AccountsDataBase.mdf;Integrated Security=True"
            providerName="System.Data.SqlClient" />
        <add name="Server.Properties.Settings.C__USERS_USER_DOWNLOADS_AUBTIMEMANAGEMENTAPP_AUBTIMEMANAGEMENTAPP_SERVER_SERVICE_STORAGE_ACCOUNTSDATABASE_MDFConnectionString"
            connectionString="Data Source=(localdb)\MSSQLLocalDB;Initial Catalog=C:\USERS\USER\DOWNLOADS\AUBTIMEMANAGEMENTAPP\AUBTIMEMANAGEMENTAPP\SERVER\SERVICE\STORAGE\ACCOUNTSDATABASE.MDF;Integrated Security=True;Connect Timeout=30;Encrypt=False;TrustServerCertificate=False"
            providerName="System.Data.SqlClient" />
    </connectionStrings>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.7.2" />
    </startup>
</configuration>